.grid
        {
            display: grid;
            border: dashed cadetblue 6px;
        }
        .grid > .grid-item
        {
            background-color: aqua;
            border: solid red 1px;
        }
        a
        {
            text-decoration: none;
        }
        .title
        {
            text-align: center;
            margin-top: 0px;
        }
        a
        {
            text-decoration-line: underline;
        }
        .center-container
        {
            background-color: orange;
            display: flex;
            flex-direction: column;
            
        }
        .center-container > .textbox
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }